<div class="full-window settings-page align-items-center">
    <form id="settings-form" class="row">
        <div class="row full-window gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="evc-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img
                                        src="images/evc-app/settings.png.webp"
                                        alt="충전기 설정"
                                    />
                                </div>
                                <h5 class="user-name">NBIS Settings</h5>
                                <h6 class="user-email">
                                    <i class="fa fa-phone"></i>&nbsp;1688-8938
                                </h6>
                                <h6 class="user-email">
                                    <i class="fa fa-phone"></i
                                    >&nbsp;nbis@nbis.co.kr
                                </h6>
                            </div>
                            <div class="about">
                                <h5 class="mb-2 text-primary">About</h5>
                                <p>
                                    NBIS의 충전기 설정입니다.<br />
                                    운영플랫폼 연결과 충전기 제어 컨트롤러 설정
                                    등 다양한 설정이 가능합니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Right Form -->
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <h5 class="card-title text-primary">
                                    충전스테이션 설정
                                </h5>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="system-product">제조사</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="system-product"
                                        id="system-product"
                                        placeholder="NBIS"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="system-model">모델명</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="system-model"
                                        id="system-model"
                                        placeholder="모델명을 입력하세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="system-uuid">관리번호</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="system-uuid"
                                        id="system-uuid"
                                        placeholder="유효한 관리번호를 입력하세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="system-password"
                                        >관리자 암호</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        name="system-password"
                                        id="system-password"
                                        placeholder="관리자 암호를 입력하세요"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-2">
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <h5 class="card-title text-primary">
                                    운영플랫폼 설정
                                </h5>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="csms-address">연결 주소</label>
                                    <input
                                        type="url"
                                        class="form-control"
                                        name="csms-address"
                                        id="csms-address"
                                        placeholder="운영플랫폼 주소를 입력하세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="csms-port">포트번호</label>
                                    <input
                                        type="name"
                                        class="form-control"
                                        id="csms-port"
                                        name="csms-port"
                                        placeholder="연결 포트번호를 입력하세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <div class="text-right">
                                    <button
                                        type="button"
                                        id="csms-connect"
                                        name="csms-connect"
                                        class="btn btn-primary"
                                    >
                                        연결하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-2">
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <h5 class="card-title text-primary">
                                    충전기 제어 설정
                                </h5>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="evc-comport">통신포트</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="evc-comport"
                                        name="evc-comport"
                                        placeholder="통신포트를 설정해 주세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="evc-baudrate">전송속도</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="evc-baudrate"
                                        name="evc-baudrate"
                                        placeholder="통신 전송속도를 설정해 주세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <div class="text-right">
                                    <button
                                        type="button"
                                        id="evc-connect"
                                        name="evc-connect"
                                        class="btn btn-primary"
                                    >
                                        연결하기
                                    </button>
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="evc-monitorperiod"
                                        >상태보고 주기</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="evc-monitorperiod"
                                        name="evc-monitorperiod"
                                        placeholder="상태보고 주기를 설정해 주세요"
                                    />
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                            >
                                <div class="form-group">
                                    <label for="evc-watchdogperiod"
                                        >WATCHDOG 주기 설정</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="evc-watchdogperiod"
                                        name="evc-watchdogperiod"
                                        placeholder="Watchdog 주기를 설정해 주세요"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-2">
                            <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            >
                                <div class="text-right">
                                    <button
                                        type="button"
                                        id="submit"
                                        name="submit"
                                        class="btn btn-secondary"
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        type="button"
                                        id="settings-submit"
                                        class="btn btn-primary"
                                    >
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of right form -->
        </div>
    </form>
</div>
